{{- if eq .include_job "yes"}}
# Job configuration for {{.project_name}}
resources:
  jobs:
    {{.project_name}}_job:
      name: {{.project_name}}_job

      {{- if eq .job_type "python"}}
      tasks:
        - task_key: main_task
          {{- if eq .compute_type "serverless"}}
          existing_cluster_id: ${var.serverless_cluster_id}
          {{- else}}
          job_cluster_key: main_cluster
          {{- end}}
          spark_python_task:
            python_file: ../src/task.py

      {{- else if eq .job_type "notebook"}}
      tasks:
        - task_key: notebook_task
          {{- if eq .compute_type "serverless"}}
          existing_cluster_id: ${var.serverless_cluster_id}
          {{- else}}
          job_cluster_key: main_cluster
          {{- end}}
          notebook_task:
            notebook_path: ../src/notebook.py
      {{- end}}

      {{- if eq .compute_type "classic"}}
      job_clusters:
        - job_cluster_key: main_cluster
          new_cluster:
            spark_version: 15.4.x-scala2.12
            node_type_id: i3.xlarge
            num_workers: 2
      {{- end}}
{{- end}}
