{{- if eq .include_pipeline "yes"}}
# Delta Live Tables Pipeline for {{.project_name}}
resources:
  pipelines:
    {{.project_name}}_pipeline:
      name: {{.project_name}}_pipeline
      target: {{.project_name}}_${bundle.target}

      {{- if eq .pipeline_language "python"}}
      libraries:
        - notebook:
            path: ../src/dlt_pipeline.py
      {{- else}}
      libraries:
        - notebook:
            path: ../src/dlt_pipeline.sql
      {{- end}}

      {{- if eq .compute_type "serverless"}}
      serverless: true
      {{- else}}
      clusters:
        - label: default
          num_workers: 2
          node_type_id: i3.xlarge
      {{- end}}

      development: true
      continuous: false
      channel: CURRENT
{{- end}}
